/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    font-family:"微軟正黑體";
}
.wrap{
    width: 1024px;
    margin: 0 auto;
}
.topmenu-icon {
    display: flex;
    justify-content: flex-end;
    background: #f6f6f6;
    padding: 8px;
}
.topmenu{
   
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 2px;
}

.fb-item {
    color: #4460a0;
  
    border-right: 1px solid #c7c7c2;
}
.tw-item {
    color: #00aaec;
  }
.topmenu-icon li{
text-align: center;
align-items: center;
text-decoration:none;
margin-right: 5px;
}
.topmenu-icon li a{
    padding-right: 5px;
}
.topmenu-icon li a:hover{
    padding-right: 5px;
    opacity: 0.7; 
}
.topmenu-icon li a:focus{
    background: #ff8;
    color: black;
}

.fb{
    color:#7388b7;
    font-size:15px;
  
}
.tw{
    color:#00aaec;
    font-size:15px;
}
.fb, .tw a{
     text-decoration:none;
}


.header{
    display: flex;
    justify-content:space-between;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 25px;
 
}
.header h1{
   float:left;
  
}
.header h1 a{
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png) no-repeat ;
    width: 224px;
    height: 50px;
    display: block;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}
.header h1 a:hover{
    opacity: 0.7; 

}
.header h1 a:focus{
    opacity: 0.3; 
    text-decoration:line-through;
}

.menu li{
    text-decoration:none;
    color:#77e4c9;
    margin-right: 10px;
  margin-right:20px
   }
.menu li a{
    text-decoration:none;
    color:#77e4c9;
    font-size: 16px;
    display: block;
}
.menu li a:after{
    border-bottom: 5px solid transparent;
    transition: 0.5s;
}
.menu li a:hover:after {
    opacity:0.7;
    margin-top: 5px;
    padding: 5px;
  
    border-bottom: solid 5px #00CC99;
}
.menu li a:focus{
    margin-top: 5px;
    padding: 5px;
    border-bottom:  3px #336d5e solid ;
}
.banner{
    display:flex;
    align-items: center;
    position:relative;
    z-index: -1;
    height: 346px;
    background-image:url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png) ;
}
.treans{
    margin-top: 40px;
    width: 1024px;
    height: 100px;
    padding:10px;
    background-color: rgba(0,0,0,0.2);
   
    position:absolute;
    left:0px;
    top:50x;
    z-index:1;
}

.content-prime-main{
  
     line-height: 1.2;
    left:0px;
    top:14px;
    color:#ffff;
    font-size: 30px;
    z-index: 2;
}

.product{
    margin: 50px 10px;
}
.content-second{
    margin-bottom :20px; 
}
.course{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
  
}
.course-item {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    box-shadow: 3px 3px 5px silver;
}

.course-item{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
     border-radius:2px;
  box-shadow: 0px 0px 3px gray;
}
.course-item h2{
    text-align:center;
    font-size: 40px;
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.course-item p{
    padding: 10px;
    }
.course-item li{
        padding: 10px;
        list-style-type:disc;
        line-height: normal;
}
    

.specail-forpic{
  width: 250px;
  height: 170px;

  position:relative;
 }
.specail-forpic img{
  position:absolute;
  right:-6px;
    top:-10px;
  max-width: 100%;
  max-height: 90%;
}


.different{
margin-bottom: 50px;
}
.different h2{
    margin-bottom: 20px;
}
table{
    width: 842px;
    height: 251x;
    border: 4px;
    margin: 0 auto;
    cellspacing: 3px;
    cellpadding: 2px;
}
.price th,.price td{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}

.price th{
    padding: 10px;
    background: #f7f7f7;
    color: #000;
    font-weight:bolder;
    text-align:left;
}
.price td{
    padding: 10px;

}
h2{
    margin: 10px;
  font-size:25px;
  text-align:center;
  font-weight:bolder;
}
.col-prime{
  color:#00a67d;
}

.col2 h2{
    font-size: 25px;
    margin: 0px 0px 5px 0px;
    text-align: center;
    font-weight:bolder;
    line-height:10px

}
form:focus-within{
    background: linear-gradient(#1d614f,#ccd8d5);
    color: #000;
}

.contact{
    background: linear-gradient(#00644b,#009771);
    padding: 20px 30px;
   border-radius:32px;
}
.contact h2{
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    margin: 10px;
}

.contact textarea{
width: 460px;
height: 245px;
}

.contact form{
  display:flex;
  justify-content:space-between;
  margin-top: 30px;
}
.contact form,.contact textarea{
   border-radius:5px;
   border:none;
}

.contact-info label{
    display: block;
    color: #fff;
}
.info input{
    width: 460px;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 14px;
}
.contact textarea:focus,.contact input:focus{
    border: 2px solid #66afe9;
    outline: none;
    box-shadow: 0 0 7px #66afe9;
}
.right{
    display: flex;
    justify-content:flex-end;
}

.submit{
    width: 70px;
    height: 32px;
    background: #00cc99;
    color: #fff;
    cursor: pointer;
}
.submit:hover{
    background: rgb(235, 115, 115);
    border: 2px solid #66afe9;
    box-shadow: 0 0 7px #66afe9;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 55px 0px;
}

.subfooter{
    color:#e12d80;
}
.connection ul li{
    margin-bottom: 2px;
}
.connection ul li a:hover{
    opacity: 0.8;
    padding: 4px;
    line-height: 1.2;
   
}
.connection ul li a:focus-within{
    background-color: #1d614f;
    border-radius:2px;
    box-shadow: 0px 0px 3px gray;

}